@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_black.otf) format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_blackit.otf) format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_bold.otf) format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_boldit.otf) format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_extrabold.otf) format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/proximanova_light.otf) format('opentype');
    font-weight: 300;
}
