:root {
    --background: #162831;
    --color: #FFFFFF;
    --color-hover: #018ABE;
    --btn-main: #018ABE;
    --btn-white: #FFFFFF;


}

body {
    background: var(--background);
    color: var(--color)
}