.title {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'El Messiri';
        font-weight: 700;
        line-height: 140%;
        color: var(--color);
    }
    }

