.header {
    &__wrapper {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 60;
    }
    &__menu {
        width: 655px;
    }
}